{% extends 'base.html' %}

{% block content %}
{{user}}, {{customer_record.created_by}}
    <div class="container">
        <div class="card">
            <div class="card-header">
                Record
            </div>
            {% if customer_record %}
            <div class="card-body">
                <h5 class="card-title">{{customer_record.first_name | capfirst}} {{customer_record.last_name | capfirst}}</h5>
                
                <ul  class="list-unstyled">
                    <li><strong>Email:</strong>&ensp; {{customer_record.email}}</li>
                    <li><strong>Phone:</strong>&ensp;{{customer_record.phone}}</li>
                    <li><strong>City:</strong>&ensp;{{customer_record.city}}</li>
                    <li><strong>Address:</strong>&ensp;{{customer_record.address}}</li>
                    <li><strong>Zip:</strong>&ensp;{{customer_record.zip_code}}</li>
                    {{customer_record.created_on}}
                </ul>
                {% if user.is_authenticated %}
                    {% if user_str == customer_record.created_by %}
                        <a href="{% url 'update_record' customer_record.id   %}" class="btn btn-outline-primary btn-sm ">Update</a>&ensp;&ensp;
                        <a href="{% url 'confirm_delete' customer_record.id %}" class="btn btn-outline-danger btn-sm">Delete</a>
                        
                    {% else %}
                        <p>you cant edit or delete</p>
                    {% endif %}
                {% endif %}
                
            </div>
            {% endif %}
        </div>
    </div>
    <script>
         function myFunction() 
            {
                var txt;
                if (confirm("Are you sure!")) {
                    txt = "You pressed OK!";
                     
                } 
                else {
                    txt = "You pressed Cancel!";
                }
                document.getElementById("demo").innerHTML = txt;
            }
    </script>

{% endblock %}

&ensp;