{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <br>
    <form method= "POST" action=''>
     {% csrf_token %}
    <div class="mb-3">
        <label  class="form-label">Username:</label>
        <input name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label  class="form-label">Password:</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}